.popup
  &_container
    position: fixed
    bottom: 75px
    left: 30px
    height: 35px
    background: #ffcece
    color: #f00
    display: flex
    align-items: center
    border: 1px solid #f00
    border-radius: 5px

    transition: opacity .4s linear

  &_text
    padding: 0 20px
    font-weight: 500
    font-size: 15px

  &_button
    background: none
    border: none
    border-left: 2px solid #f00
    width: 33px
    color: #f00
    font-weight: 300
    font-size: 22px

    &:hover
      cursor: pointer
